{
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "globals": {
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "extends": "airbnb",
  "rules": {
    "no-console": ["error", {
      "allow": ["warn", "error", "info"]
    }]
  }
}
